In [2]:
import joblib
df = joblib.load('df.lb')

In [3]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [4]:
df[df['cluster_12'] == 5].value_counts('label')

label
kidneybeans    100
pigeonpeas      31
chickpea         5
lentil           4
dtype: int64

In [5]:
df[(df['cluster_12'] == 5) & (df['label'] == 'kidneybeans')]

,N,P,K,temperature,humidity,ph,rainfall,label,cluster_8,cluster_12
300,13,60,25,17.136928,20.595417,5.685972,128.256862,kidneybeans,2,5
301,25,70,16,19.634743,18.907056,5.759237,106.359818,kidneybeans,2,5
302,31,55,22,22.913502,21.339531,5.873172,109.225556,kidneybeans,2,5
303,40,64,16,16.433403,24.240459,5.926677,140.371781,kidneybeans,2,5
304,2,61,20,22.139747,23.022511,5.955617,76.641283,kidneybeans,2,5
...,...,...,...,...,...,...,...,...,...,...
395,27,65,18,20.109938,23.223238,5.595032,73.363865,kidneybeans,2,5
396,30,63,16,23.605066,21.905396,5.525905,100.597873,kidneybeans,2,5
397,37,70,25,19.731369,24.894874,5.819404,84.063541,kidneybeans,2,5
398,27,63,19,20.934099,21.189301,5.562202,133.191442,kidneybeans,2,5
399,22,60,24,18.782263,20.247683,5.630665,104.257072,kidneybeans,2,5

In [6]:
scaler = joblib.load('scaler.lb')
kmeans =  joblib.load('kmeans_model.lb')

In [20]:
user_data = [[n , p , k , t, h, ph , r ]]
        trans_data = scaler.transform(user_data)
        prediction = kmeans.predict(trans_data)[0]

NameError: name 'n' is not defined