In [3]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [4]:
i = 1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [7]:
i = 0
while i<6:
   i+=1
   if i==3:
      continue
   print(i)

1
2
4
5
6

In [8]:
i = 1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
## functionnn

In [12]:
def my_function():
    print("hello from a function")



## calling a function
my_function()

hello from a function

In [17]:

def my_function1(fname):
    print(fname + " sharma")

my_function1("mohan")
my_function1("rohan")

mohan sharma
rohan sharma

In [28]:
def add(num1,num2):
    result = num1 + num2
    return result

In [29]:
num1 = 200
num2 = 400
result = add(num1,num2)
print(result)

600

In [31]:
def my_name(fname,lname):
    print(fname + " " + lname)


my_name("Mohan","jangid")

Mohan jangid

In [33]:
def my_function2(*kids):               #--> args parameter
    print("the youngest child is " + kids[2])


my_function2("ram","mohan","rohan")

the youngest child is rohan

In [35]:
def my_function3(child1,child2,child3):
    print("the youngest child is " + child3)

my_function3(child1="ram",child2="rohan",child3="mohan")

the youngest child is mohan

In [37]:
def my_country(country="India"):
    print("i am from " + country)


my_country("Sweden")
my_country()
my_country("brazil")

i am from Sweden
i am from India
i am from brazil

In [38]:
def square_element(input_lst):
    temp = []
    for x in input_lst:
        temp.append(x**2)
    return temp

In [39]:
output = square_element([2,4,7,9])
print(output)

[4, 16, 49, 81]

In [40]:
def avg_function(input_lst):
    return sum(input_lst)/len(input_lst)


avg_function([25,56,78,90])

62.25

In [44]:
def apna_min(lst):
    minimum = x[0]
    for i in lst:
        if minimum>i:
            minimum = i
    return minimum

In [46]:
x = [20,8,377,627,9,672,]
apna_min(x)

8

In [47]:
# lambda arg: expression

x = lambda a: a+10


print(x(10))

20

In [48]:
x = lambda a,b:a*b

print(x(10,20))

200

In [51]:
def my_function4(n):
    return lambda a:a*n


double = my_function4(2)

print(double(11))

22